.header {
    padding: 30px;
    background-color: #ccc;
    color: #fff;
}

.menu {
    background-color: #234;
    color: #fff;
}

.menu ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    padding: 6px 7px;
}

.menu ul li:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.menu:after {
    clear: both;
    display: table;
    content: '';
}